*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 80px;
    background-color: #EB6440;

}
nav{
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
}
.logo-imagem{
    width: 73px;
    height: 80px;
    margin-left: 160px;
    transform:rotate(180deg)
}
.navegacao{
    display: flex;
    align-items: center;
    padding: 60px;
}