
.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.bloco1{
    background-color: rgb(76, 0, 255);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
}
.bloco2{
    background-color: rgb(72, 255, 0);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
}
.bloco3{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
}