body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0px;

}
nav{
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 10px 0;

}
nav ul{
    list-style-type: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
nav ul li{
    display: inline;
    padding-left: 20px  ;
}
main{
    padding: 20px;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/* RESPONSIVIDADE, COMO FUNCIONA:  */
@media screen and (max-width: 900px){
    header {
        background-color: aqua;
    }
}
@media screen and (max-width: 600px){

    h2{
        font-size: 24px;
    }
    nav ul li{
        display: block;
        padding-bottom: 10px;
    }
    main {
        padding: 10px;
    }
   

}