body{
    border: 1px solid black;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo{
    background-color: burlywood;
    height: 400px;
    width: 300px;
    border-radius: 15px;
}


